<h1>Welcome to the demo of <span>cogni-builders</span></h1>

<h2>Fruit svg</h2>

<div class="container">
  <div class="card">
    <svg viewBox="0 0 50 50" appCircleSvg width="80"></svg>
    <span class="name">circle</span>
  </div>
  <div class="card">
    <svg viewBox="0 0 50 50" appSquareSvg width="50"></svg>
    <span class="name">square</span>
  </div>
</div>

<h2>Shape svg</h2>

<div class="container">
  <div class="card">
    <svg viewBox="0 0 50 50" appAppleSvg width="40"></svg>
    <span class="name">apple</span>
  </div>
  <div class="card">
    <svg viewBox="0 0 50 50" appBananaSvg width="90"></svg>
    <span class="name">banana</span>
  </div>
</div>